@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 10px;
}

body {
  line-height: 1;
  font-family: 'Jost', sans-serif;
  background-color: var(--Main-color);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

:root {
  /* primary colors */
  --Peach-color: #e7816b;
  --Main-color: #ffffff;
  --black-color: #1d1c1e;

  /* secondary colors */
  --lightPeach-color: #ffad9b;
  --lightGrey-color: #f1f3f5;
  --darkGrey-color: #333136;
}

/* Global reset end */

/* !main content container */

.Main__container {
  max-width: 111.1rem;
  margin: 6.4rem auto;
}

/*! header starts here */

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.header__wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__wrapper > div > img {
  margin-right: 1.8rem;
}

.header__wrapper > div > h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  letter-spacing: 0.5rem;
  text-align: left;
}

.header__wrapper > nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__wrapper > nav > ul {
  display: flex;
  gap: 4.2rem;
}

.header__wrapper > nav > ul > li {
  position: relative;
}
.header__wrapper > nav > ul > li > a {
  color: var(--darkGrey-color);
  /* Jost */
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0.2rem;
  text-align: left;
}

.header__wrapper > nav > ul > li > a::before {
  content: ' ';
  height: 0.01rem;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.6s;
}

.header__wrapper > nav > ul > li > a:hover::before {
  background-color: var(--darkGrey-color);
  width: 100%;
}

.hidden {
  display: none !important;
}

/* header ends here  */

/*! main content starts here */

.mainContent_wrapper {
  width: 100%;
  margin-top: 6.4rem;
}

.section__1 {
  width: 100%;
  background-image: url('./images/png/sec1_back-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /* height: 64rem; */
}

.section__1 > div {
  text-align: left;
  margin: auto 9.5rem;
}

.section__1 > div > h2 {
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 4.6rem;
  margin-bottom: 1.1rem;
  color: var(--Main-color);
}

.section__1 > div > p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--Main-color);
  margin-bottom: 4rem;
}

.section__1 > div > p > span {
  display: inline-block;
}

.section__1 > div > button {
  padding: 1.8rem 2.4rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.1rem;
  letter-spacing: 0.1rem;
  color: var(--darkGrey-color);
}

/* section 1 ends here */

/*! section 2 starts here  */

.section__2__wrapper {
  width: 100%;
  height: 64rem;
  margin-top: 16rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 2.4rem;
}

.sec2__webDesigne {
  background-image: url('./images/png/webDesigne.png');
  background-repeat: no-repeat;
  width: 100%;
  /* grid-column: 1/ 0; */
  grid-row: 1/-1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sec2__appDesigne {
  background-image: url('./images/png/appDesigne.png');
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sec2__grapicDesigne {
  background-image: url('./images/png/graphicDesigne.png');
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__2__wrapper h3 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.8rem;
  letter-spacing: 0.2rem;
  text-align: left;
  color: var(--Main-color);
}

.section__2__wrapper p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.168rem;
  letter-spacing: 0.5;
  text-align: left;
  color: var(--Main-color);
}
